.row
  .columns.five

    %h2 Sign up
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "validate-form"}) do |f|
      = devise_error_messages!
      %div
        = f.label :first_name
        = f.text_field :first_name
      %div
        = f.label :last_name
        = f.text_field :last_name
      %div
        = f.label :scramble_username
        = f.text_field :scramble_username, class: "required"
      %div
        = f.label :email
        = f.email_field :email
      %div
        = f.label :password
        = f.password_field :password
      %div
        = f.label :password_confirmation
        = f.password_field :password_confirmation
      %div= f.submit "Sign up", :class => "primary button top_20"
    = render :partial => "devise/shared/links"

:coffeescript
  $('.validate_form').validate