%h2 Seasons
%h3 Your seasons
- @all_users_seasons.each do |s|
  = link_to "Season #{s.num}", season_path(s)
%h3 All seasons
%ul.unstyled
  - Season.all.each do |s|
    %li
      = "Season #{s.num}"
      - unless current_user.seasons.include?(s)
        = link_to "Join", join_season_path(s)